<div class="talza-form">

    <form action="/insert" method="post">

        <div class="insert form-group">
            <label for="name" class="form-label">Name </label>
            <div class="col-sm-4">
                <input type="text" id="name" name="name" required>
            </div>
        </div>

        <div class="insert form-group">
            <label for="email" class="form-label">Email </label>
            <div class="col-sm-4">
                <input type="text" id="email" name="email" required>
            </div>
        </div>

        <div class="insert form-group">
            <label for="password" class="form-label">Password </label>
            <div class="col-sm-4">
                <input type="password" id="password" name="password" required>
            </div>
        </div>


        <div class="insert form-group">
            <div class="col-sm-4">
                <button type="submit"> SUBMIT </button>
            </div>
        </div>
    </form>
</div>