<div class="talza-form">
    <div class="login-title"> {{title}}</div>

    {{#if errors}}
        <section class="errors">
            {{# each errors}}
                <div>  {{this.msg}} </div>
            {{/each}}
        </section>
    {{/if}}

    <form action="/insert" method="post">

        <div class="insert form-group">
            <label for="name" class="form-label">Name </label>
            <div class="col-sm-4">
                <input type="text" id="name" name="name" required>
            </div>
        </div>

        <div class="insert form-group">
            <label for="email" class="form-label">Email </label>
            <div class="col-sm-4">
                <input type="text" id="email" name="email" required>
            </div>
        </div>

        <div class="insert form-group">
            <label for="password" class="form-label">Password </label>
            <div class="col-sm-4">
                <input type="password" id="password" name="password" required>
            </div>
        </div>

        <div class="insert form-group">
            <label for="confirmPassword" class="form-label">Confirm Password </label>
            <div class="col-sm-4">
                <input type="password" id="confirmPassword" name="confirmPassword" required>
            </div>
        </div>

        <div class="insert form-group">
            <div class="col-sm-4">
                <button type="submit"> Sign Up </button>
            </div>
        </div>
    </form>
</div>